.container {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    /* margin-top: 2%; */
    /* background-color: #35617d; */
    z-index: -6;
}

.image {
    background-image: url('https://images.pexels.com/photos/11977128/pexels-photo-11977128.jpeg?cs=srgb&dl=pexels-czapp-%C3%A1rp%C3%A1d-11977128.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.gradient::before {
    background-color: rgba(0,0,0,0.65);
}